


*{
    color: white;
}

.container{
    display: flex;
    margin: auto;
    margin-top:250px;
    
   

}
.white{
    background-color: white;

}

.colon{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    padding: 30px;


}


.button{
    background-color: white;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-top: 80px;
    background-color: hsl(0, 0%, 95%);
   
}

.color{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
    
}

.color2{
    background-color: hsl(184, 100%, 22%);

}

.color3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.bir{
    background-color: hsl(31, 77%, 52%);;
    border: 2px solid white;
}

.bir:hover{
    background-color: white;
    color:  hsl(31, 77%, 52%);

}

.iki{
    background-color: hsl(184, 100%, 22%);
    border: 2px solid white;
}

.iki:hover{
    background-color: white;
    color:  hsl(184, 100%, 22%);

}

.uc{
    background-color: hsl(179, 100%, 13%);
    border: 2px solid white;
}

.uc:hover{
    background-color: white;
    color:  hsl(179, 100%, 13%);

}

h1{
    font-family: 'Big Shoulders Display', cursive;
    /* font-size: px; */
    color: hsl(0, 0%, 95%)
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color:hsla(0, 0%, 100%, 0.75)
}

img{
    width: 60px;
}


@media screen and (max-width:550px){
    .container {
        display: block;
        margin: auto;
        margin-left: 60px;
    }
    .color{
        border-radius: 10px 10px 0 0;

    }

    .color3{
        border-radius: 0 0 10px 10px;
    }
    .bir{
        background-color: white;
        color:  hsl(31, 77%, 52%);

    }
    .iki{
        background-color: white;
        color:  hsl(184, 100%, 22%);

    }

    .uc{
        background-color: white;
        color:  hsl(179, 100%, 13%);
    }
}






